<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Orders</title>
</head>

<body>

	<div>
		<a th:href="@{/newOrder}">New Order</a>
	</div>

	<div th:if="${orders.empty}">
		<div>No Orders</div>
	</div>

	<div th:unless="${orders.empty}">
		<table id="orders_table">
			<caption>Orders</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Item</th>
					<th scope="col">Price</th>
					<th scope="col">User</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${orders}">
					<td th:text="${order.id}"></td>
					<td th:text="${order.item}"></td>
					<td th:text="${order.price}"></td>
					<td th:text="${order.user.id}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>